@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&family=PT+Sans+Narrow:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  height: 100vh;
}

header {
  background: url("../img/ilustracion4.jpg") no-repeat;
  background-size: 800px;
  background-position: center;
  padding-top: 15px;
}
header nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  display: grid;
  grid-template-columns: 102px 1fr;
  background-color: rgba(42, 178, 246, 0);
  border-bottom: 1px solid #cacaca;
  padding-left: 30px;
}
header nav #logomi {
  display: none;
}
header nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 45px;
}
header nav ul li {
  margin-left: 45px;
  color: #000;
  text-shadow: 3px -1px rgba(12, 198, 255, 0.974);
}
header section {
  display: grid;
  grid-template-columns: 2fr 300px;
  padding: 50px;
  padding-left: 25px;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
header section form {
  background: rgba(42, 178, 246, 0);
}
header section form input, header section form button {
  display: block;
  margin-bottom: 20px;
}
header section form input {
  padding: 10px;
  width: 92%;
}
header section form button {
  padding: 15px;
  font-family: "PT Sans Narrow", sans-seriffont;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}
header section form a {
  display: block;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  color: #000;
}
header section blockquote h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 45px;
}
header section blockquote p {
  font-size: 20px;
}

main {
  background: url("../img/ilustracion8.png") no-repeat;
  background-size: 350px;
  background-position-x: 800px;
  background-position-y: 220px;
  padding-bottom: 80px;
  padding-top: 100px;
  padding-left: 25px;
}
main section {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 3fr 600px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
main section blockquote h2 {
  font-family: "PT Sans Narrow", sans-serif;
  padding-bottom: 10px;
}
main section blockquote p {
  font-size: 19px;
  padding-bottom: 40px;
  text-align: justify;
  margin-right: 12px;
}

footer {
  padding-top: 10px;
  position: bottom;
  width: 100%;
  background: rgba(42, 178, 246, 0.1);
}
footer h2 {
  padding-left: 23px;
  padding-top: 8px;
  padding-bottom: 20px;
}
footer p {
  padding-left: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 375px) {
  header {
    background-size: 550px;
  }
  header nav {
    grid-template-columns: 120px 1fr;
    padding-left: 15px;
  }
  header nav ul {
    display: inline;
    margin-left: 50px;
  }
  header #logopc {
    display: none;
  }
  header section {
    grid-template-columns: 1fr;
  }
  header section blockquote {
    display: none;
  }
  main {
    background: none;
    padding-top: 20px;
  }
  main section {
    grid-template-columns: 1fr;
  }
  main section blockquote h2 {
    text-align: center;
  }
  main section blockquote p {
    text-align: justify;
    font-size: 18px;
    margin-right: 12px;
  }
}
@media (max-width: 786px) {
  header nav #logopc {
    display: none;
  }
  header nav ul li {
    font-size: 29px;
    margin-left: 30px;
  }
  header section p {
    background: rgba(42, 178, 246, 0.2);
  }
  main {
    background: none;
    padding-top: 50px;
  }
  main section {
    grid-template-columns: 1fr;
  }
  main section blockquote h2 {
    text-align: center;
    font-size: 35px;
  }
  main section blockquote p {
    text-align: justify;
    margin-right: 12px;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */